- if user_signed_in?
  - unread_message = current_user.messages.where(read: false).count
  - if unread_message == 0
    .btn.btn-light.rounded-circle
      %i.bi.bi-bell.fs-icon
  - if unread_message > 0
    .d-flex.btn.btn-dark.rounded-circle.border-0
      %i.bi.bi-bell.fs-icon
      %p.fs-6.mt-auto= unread_message