= render 'navbar/navbar'

%h1.text-center Messages

.container
  .d-flex.justify-content-end.mb-4
    = button_to messages_path(@messages), method: :delete, class: 'border-0 bg-body-secondary' do
      %i.bi.bi-trash.fs-4

  -if @messages.present?
    - @messages.each do |message|
      .border.border-light.bg-light.rounded-4.p-3.mb-2
        %p System
        %p= message.content
  -else
    %p.fs-6.text-center.text-secondary You don`t have messages yet