.wrapper-top{ 'data-controller': 'owl'}
  .carousel.owl-carousel
    - @top_book.each do |book|
      .card.m-2.border-0.bg-none.flex-shrink-0.bg-body-secondary{ style: 'max-width: 152px' }
        .font
          = link_to book_path(book), class: 'text-decoration-none' do
            .text-center
              = image_tag book.image.url, class: 'book-image rounded-4'
          .font.mt-2.ms-2
            %h5.card-title.text-wrap= book.title




