= render 'navbar/navbar'
= render 'home/tops'

.container.d-flex.gap-3.flex-wrap.mb-5
  - @books.each do |book|
    = render 'cards/cards', book: book, data: { turbo_frame: 'frame2' }

.container.d-flex.justify-content-center.mt-5
  =paginate @books