.d-flex.align-items-center
  - if @book.favorites.exists?(user_id: current_user.id)
    = button_to book_favorites_path(book_id: @book.id), method: :delete, class: 'border-0' do
      %i.bi.bi-bookmark-dash.fs-5
  - else
    = button_to book_favorites_path(book_id: @book.id), method: :post, class: 'border-0' do
      %i.bi.bi-bookmark-plus.fs-5
  %p= "Favorites:#{@book.favorites.count}"
