.avatar{
  width: 40px;
  height: 40px;
}

.current-avatar{
  background-image: url('wallpapper.jpg');
}

.current-avatar-img{
  width: 150px;
  height: 150px;
}

.avatars{
  width: 60px;
  height: 60px;
}

.edit-avatar{
  width: 180px;
  height: 180px;
}
